<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
 
</head>
<body>
   <div class = "wrapper">
   	 <div class="main">
   	 	<div class = "nav">
          <ul>
          	<li><a href="/index">HOME</a></li>
          
			  <div class="logo right-nav"><img src="static/logo.jpg" alt="logo" width="333px"></div>
          </ul>
          
   	 	</div>
   	 	<div class ="content">
   	 		
   	 		<article>
						<ul>
						  <li><a class="dropdown-item" href="/view"> View Employee Database</a></li>
						  <li><a class="dropdown-item" href="/view2">View Client Database</a></li>
							<li><a class="dropdown-item" href="/view3">View Infrastructure Charges </a></li>

						</ul>

   	 		</article>
   	 		<article>
				<ul>
					<li><a class="dropdown-item" href="/add"> Add New Employee</a></li>
					<li><a class="dropdown-item" href="/add2">Add New Client</a></li>

				  </ul>
   	 		</article>
   	 		<article>
				<ul>
					<li><a class="dropdown-item" href="/delete">Delete Employee Record</a></li>
					<li><a class="dropdown-item" href="/delete2">Delete Client Record</a></li>

				  </ul>
   	 		</article>
				<article>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
	         		<li><a class="dropdown-item" href="/add3"> Add Other Infrastructure Charges</a></li>
					<li><a class="dropdown-item" href="/view4"> Final Page</a></li>

				  </ul>
				</article>


        </div>
   	 </div>
    </div>

	<footer class="text-footer">
        copywrite &copy; 2022 e-Staff Management All rights reserved
    </footer>
</body>
</html>